//COLOR
$color-white: #fff;
$color-black: #000;
$color-grey-dark: #272727;
$color-purple: #785be7;
$color-blue: #5878d9;

//FONT
$font-size-big: 3.2rem;
$font-size-medium: 1.8rem;
$font-size-small: 1.4rem;
$font-size-smaller: 1rem;