//COLOR
$color-white: #fff;
$color-black: #000;
$color-black-light: #111111;
$color-grey-dark: #272727;
$color-grey: #606060;
$color-grey-light: #dbdbdb;
$color-purple: #785be7;
$color-blue: #5878d9;
$color-tutor-purple: #6c51e4;
$color-tutor-grey: #3e3e3e;
$color-text-book: #f9f9f4;
$color-badge: #ee5353;
$color-review-grey: #6a6a6a;
$color-img-tutors: #d8d8d8;
$color-faq: #eaeaea;

//FONT
$font-size-32: 3.2rem;
$font-size-25: 2.5rem;
$font-size-22: 2.2rem;
$font-size-18: 1.8rem;
$font-size-16: 1.6rem;
$font-size-14: 1.4rem;
$font-size-12: 1.2rem;
$font-size-10: 1rem;