.flex {
    display: flex;

    &-center {
        justify-content: center;
    }
    &-between {
        justify-content: space-between;
    }
}
[class*='flex-'] {
    display: flex;
    align-items: center;
}

.bgr-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.main {
    &__grey-box {
        clear: both;
        background-color: #f7f6f7;
        height: auto;
        padding: 4rem 2.5rem;
    }

    &__white-box {
        clear: both;
        background-color: $color-white;
        height: auto;
        padding: 4rem 2.5rem;
    }
}

.margin-auto {
    &-left {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    &-top {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.margin {
    &_top {
        margin-top: 4.5rem;

        &-none {
            margin-top: 0;
        }
        &-smallest {
            margin-top: 0.5rem;
        }
        &-smaller {
            margin-top: 2rem;
        }
        &-small {
            margin-top: 2.5rem;
        }
        &-medium {
            margin-top: 3.5rem;
        }
        &-big {
            margin-top: 5rem;
        }
        &-bigger {
            margin-top: 7.5rem;
        }
    }
    &_bottom {
        margin-bottom: 4.5rem;

        &-none {
            margin-bottom: 0;
        }
        &-smallest {
            margin-bottom: 0.5rem;
        }
        &-smaller {
            margin-bottom: 1.5rem;
        }
        &-small {
            margin-bottom: 2.5rem;
        }
        &-medium {
            margin-bottom: 3.5rem;
        }
        &-big {
            margin-bottom: 5rem;
        }
        &-bigger {
            margin-bottom: 9rem;
        }
        &-biggest {
            margin-bottom: 14.2rem;
        }
    }
    &_left {
        margin-left: 1.5rem;

        &-smaller {
            margin-left: 0.5rem;
        }
        &-small {
            margin-left: 1rem;
        }
        &-big {
            margin-left: 2rem;
        }
        &-bigger {
            margin-left: 2.5rem;
        }
        &-biggest {
            margin-left: 4rem;
        }
    }
    &_right {
        margin-right: 1rem;

        &-small {
            margin-right: 0.5rem;
        }
        &-big {
            margin-right: 1.5rem;
        }
        &-bigger {
            margin-right: 2rem;
        }
        &-biggest {
            margin-right: 2.5rem;
        }
        &-percent {
            margin-right: 4%;
        }
    }
}

.padding {
    &_top {
        padding-top: 4.5rem;

        &-none {
            padding-top: 0;
        }
        &-smallest {
            padding-top: 0.5rem;
        }
        &-smaller {
            padding-top: 1rem;
        }
        &-small {
            padding-top: 2rem;
        }
        &-medium {
            padding-top: 3.5rem;
        }
        &-big {
            padding-top: 4rem;
        }
        &-biggest {
            padding-top: 10rem;
        }
    }
    &_bottom {
        padding-bottom: 4.5rem;

        &-none {
            padding-bottom: 0;
        }
        &-smallest {
            padding-bottom: 0.5rem;
        }
        &-smaller {
            padding-bottom: 1rem;
        }
        &-small {
            padding-bottom: 1.5rem;
        }
        &-medium {
            padding-bottom: 3.5rem;
        }
        &-big {
            padding-bottom: 10rem;
        }
    }
    &_left {
        padding-left: 1.5rem;

        &-none {
            padding-left: 0;
        }
        &-smaller {
            padding-left: 0.5rem;
        }
        &-small {
            padding-left: 1rem;
        }
        &-big {
            padding-left: 2rem;
        }
        &-bigger {
            padding-left: 2.5rem;
        }
        &-biggest {
            padding-left: 3.5rem;
        }
    }
    &_right {
        padding-right: 1rem;

        &-none {
            padding-right: 0;
        }
        &-small {
            padding-right: 0.5rem;
        }
        &-big {
            padding-right: 1.5rem;
        }
        &-bigger {
            padding-right: 2rem;
        }
        &-biggest {
            padding-right: 3.5rem;
        }
    }
}

.display {
    &-none {
        display: none;
    }
    &-grid {
        display: grid;
    }
}