.footer {
    height: 41rem;
    text-align: left;
    background-color: #f2f2f2;
    padding-top: 1.6rem;

    &__text-menu {
        color: $color-grey-dark;
        font-size: $font-size-10;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        margin-left: 1.6rem;
    }

    &__hr {
        margin: 1rem 1.6rem;
        color: #d6d6d6;
    }

    &__bottom {
        clear: both;
    }

    &__ringle-info {
        color: #6a6a6a;
        font-size: $font-size-10;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: normal;
        margin-left: 1.6rem;
        margin-top: 3rem;
        float: left;
    }

    &__logo-box {
        float: right;
        margin-right: 3rem;
        margin-top: 7.5rem;
    }

    &__logo-store {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
    }

    &__btn-box {
        height: 6.5rem;
        clear: both;
        bottom: 0;
        position: fixed;
        width: 100%;
        margin-top: 2.4rem;
    }

    &-box {
        width: 100%;
        height: 10.6rem;
        margin-top: 4rem;
        background-color: #33374d;
    }
}