.main {
    width: 100%;
    height: auto;
    text-align: center;
    
    &-welcome {
        height: calc(100vh - 10rem);
        min-height: 45rem;
        padding-top: 15%;
        padding-bottom: 7%;
    }

    & [class^='main-img-']:not(:first-child) {
        height: 50rem;
    }
    
    & [class*='-first'] {
        height: 55rem;
        padding-top: 8rem;
    }

    &-img {
        &-first {
            background-image: url(../img/img-index-main.png);
        }
        &-second {
            background-image: url(../img/img-index-tutor.png);
        }
    
        &-third {
            background-image: url(../img/img-index-topic.png);
        }
    
        &-fourth {
            background-image: url(../img/img-index-tutorial.png);
        }
    
        &-fifth {
            background-image: url(../img/img-index-review.png);
        }
    
        &-sixth {
            background-image: url(../img/img-index-price.png);
        }
    }

    &__logo {
        &-kakao {
            width: 2.6rem;
            height: 2.4rem;
            background-image: url(../img/ic-kakao.png);
        }
        &-ringle {
            width: 3rem;
            height: 2.2rem;
            background-image: url(../img/logo-text-white.png);
        }   
    }
    & [class*='main__logo-'] {
        background-size: contain;
    }
    
    &__video {
        &-box {
            width: 100%;
            height: 22.5rem;
            margin-top: 2rem;
            background-color: $color-blue;
        }
        &-tutors {
            width: 32.7rem;
        }
    }
    
    &__scroll-box {
        width: 100%;
        height: auto;
        display: flex;
        overflow-x: scroll;
    }
    
    &-landing-first {
        background-image: url(../img/img-main-whatis.png);
    }
    
    &-tutor-first {
        background-image: url(../img/img-main-tutor.png);
    }

    &-topic-first {
        background-image: url(../img/img-main-topic.png);
    }

    &-tutorial-first {
        background-image: url(../img/img-main-guide.png);
    }

    &-review {
        &-first {
            background-image: url(../img/img-main-review.png);
        }
        
        &-detail {
            background-color: $color-purple;
            height: 23rem;
            padding: 8rem 0 3rem 2.5rem;
        }
    }

    &-price {
        background-image: url(../img/img-main-price.png);
        height: 30rem;
        padding-top: 8rem;
    
        &-img {
            &-1 {
                background-image: url(../img/img-main-price-1.png);
            }
            &-2 {
                background-image: url(../img/img-main-price-2.png);
            }
            &-3 {
                background-image: url(../img/img-main-price-3.png);
            }
            &-4 {
                background-image: url(../img/img-main-price-4.png);
            }
            &-5 {
                background-image: url(../img/img-main-price-5.png);
            }
        }
    }
    & [class*='main-price-img-'] {
        width: 100%;
        height: 25rem;
        background-color: rgba($color-black, 0.2);
    }
}

.icon-video-play {
    width: 1.2rem;
    height: 1.3rem;
    background-size: contain;
    background-image: url(../img/ic-video-play.png);
    margin-left: 0.3rem;
    margin-top: 0.4rem;
}

.text-book {
    &-box {
        width: 14.5rem;
        height: auto;
        padding-right: 1rem;
        padding-top: 1.5rem;
    }

    &-img {
        width: 13.5rem;
        height: 17.7rem;
        position: relative;
        padding: 0 1rem;
    }

    &-1 {
        background-image: linear-gradient(rgba($color-black, 0.5), rgba($color-black, 0.5)), url(../img/img-index-tutorial.png);
    }
}

.review {
    &-hr {
        margin: 1rem 0;
        background-color: #dcdcdc;
    }

    &-box {
        text-align: left;
        padding-top: 0.5rem;
    }
}

.faq-hr {
    height: 0.2rem;
    margin: 1.5rem 0;
    background-color: #eaeaea;
}

.img {
    &-tutors {
    height: auto;
    display: inline-block;
    text-align: center;
    
    &-circle {
        width: 9.5rem;
        height: 9.5rem;
        border-radius: 100%;
        background-color: $color-img-tutors;
        margin: 0 1rem 1rem 0;
    }
}

&-btn {
    width: 100%;
    height: 14rem;
    justify-content: flex-start;
    margin-top: 1rem;
    
        &-tutor {
            background-image: url(../img/img-btn-tutor.png);
        }
    
        &-topic {
            background-image: url(../img/img-btn-topic.png);
        }
    
        &-tutorial {
            background-image: url(../img/img-btn-tutorial.png);
        }
    
        &-review {
            background-image: url(../img/img-btn-review.png);
        }
    
        &-price {
            background-image: url(../img/img-btn-price.png);
        }
    }
    
    &-review-circle {
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 100%;
        margin: 0 1.5rem 1.2rem 0;
        background-color: $color-white;
    }
    
    &-partner-logo {
        background-image: url(../img/img-logo.png);
        width: 100%;
        height: 20rem;
        margin: 2rem 0;
        background-size: 100% 100%;
    }
}

[class*='img-btn-']:last-child {
    margin-bottom: 1rem;
}

.tutor-video {
    margin: 2rem 0 1rem 0;
    height: auto;

    &-box {
        width: 100%;
        height: 18.3rem;
        background-color: $color-white;
    }
}

.topic-book {
    &-box {
        width: 100%;
        height: auto;
        min-height: 22rem;
        padding: 1rem 0;
    }

    &-size {
        width: 15rem;
        height: 20rem;
        position: relative;
        margin-right: 2%;
        margin-bottom: 2%;
        padding: 0 1rem;
    }
}

.guide {
    &-step {
        &-1 {
            background-image: url(../img/img-guide-step-1.png);
        }

        &-2 {
            background-image: url(../img/img-guide-step-2.png);
        }

        &-3 {
            background-image: url(../img/img-guide-step-3.png);
        }

        &-4 {
            background-image: url(../img/img-guide-step-4.png);
        }
    }

    &-img-arrow {
        background-image: url(../img/graphic-guide-com.png);
        width: 4rem;
        height: 25rem;
        margin-bottom: 4rem;
    }
    &-purple-circle {
        background-color: $color-purple;
        border-radius: 100%;
        width: 2.5rem;
        height: 2.5rem;
    }
}

[class*='guide-step-'] {
    width: 100%;
    height: 22rem;
    margin-top: 2rem;
}

.free-trial {
    width: 100%;
    height: 12.3rem;
    margin: 1rem 0;
    background-image: linear-gradient(to right, #5797d8, #958bf6);

    &-logo {
        background-image: url(../img/logo-text-white.png);
        width: 5.6rem;
        height: 4.2rem;
        background-size: contain;
        margin: 4rem 10%;
    }

    &-text {
        color: $color-white;
        font-size: $font-size-22;
        margin: 3.6rem 0;
        text-align: left;
    }
}

.border-none {
    border: none !important;
}